# Dossiers de build
dist/
backend/dist/
frontend/www/
frontend/dist/

# Dépendances
node_modules/
backend/node_modules/
frontend/node_modules/

# Android
frontend/android/app/build/
frontend/android/.gradle/

# Secrets et Logs
.env
*.log
backend/.env

# Cache
frontend/.angular/
