<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Keenzen</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true" class="grid-container">
  @if (gameStateService.data(); as gameData) {
  <div class="game-layout wooden-background-realistic">
    <div class="board-wrapper">
      <app-board #board></app-board>
    </div>
    <div class="table-wrapper" [style.height.px]="gameStateService.boardContainerSize()" [style.width.px]="gameStateService.boardContainerSize()">
      <app-table></app-table>
    </div>
  </div>
  } @else {
  <div class="empty-state">Attente des données...</div>
  }
</ion-content>