<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Keenzen
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true" class="grid-container">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Keenzen</ion-title>
    </ion-toolbar>
  </ion-header>
  @if (gameStateService.data(); as gameData) {
  <div class="game-layout">
    <app-board></app-board>
    <app-table></app-table>

    <!-- <app-test></app-test> -->
  </div>
  }
  @else{
  <div class="empty-state">Waiting for game data...</div>
  }
</ion-content>